#outer-container {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 20px;
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 5px 10px 5px;
    background-color: rgba(219, 233, 22, 0.956);
    height: 95vh;
    max-height: 734px;
    max-width: 366px;
}

#formula {
    height: 35px;
}

#controls, #num-view {
    display: flex;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
}

#num-view {
    font-size: 30px;
    padding: 3px;
    color: black;
    height: 10%;
    align-items: center;
    background-color: white;
    justify-content: flex-end;
    margin-bottom: 15px;
    overflow-x: scroll;
}

#controls {
    flex-direction: column;    
    height:90%;
    padding: 10px;
    width: 90%;
    align-self: center;
    background-color: rgba(7, 86, 198, 0.659);
} 

.control-row {
    height: 20%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control, .control3, .control2 {
    background-color: rgba(49, 49, 57, 0.13);
    height: 75%;
    border: solid;
    border-width: 1.5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control:active, .control3:active, .control2:active {
    background-color: #1313125f;
}

.control {
    width: 30%;
}

.control2 {
    width: 50%;
}

.control3 {
    width: 30%;
}